/*sourcing fonts*/
@font-face {
    font-family: 'nunito_regular';
    src: url('fonts/nunito_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'nunito_italicized';
  src: url('fonts/nunito_italicized.ttf') format('truetype');
}

@font-face {
  font-family: 'averia-serif-libre_regular';
  src: url('fonts/averia-serif-libre_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'averia-serif-libre_bold';
  src: url('fonts/averia-serif-libre_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'averia-serif-libre_light';
  src: url('fonts/averia-serif-libre_light.ttf') format('truetype');
}

html {
    /* Colors */
    --background-color: #FFF4DE;
    --design-color: #A55F5F;
    --text-color: #897342;
    --highlight-color: #ECDFBC;

    /* Fonts */
    --font-aver: "aver";
    --font-OverpassMono:"OverpassMono";

    /* Miscellaneous */
    --rhythm: 2rem;
    font-size: 100%;
}


h1 {
    font-family: 'Aver', Georgia, sans-serif;
    font-weight: 700;
    font-size: 110px;
  }
  
h2 {
  font-family: 'Overpass Mono', Georgia, sans-serif;
  font-size: 40px;
  font-weight: 600;
}
  
  h3 {
    font-family: 'Cabin Sketch', Georgia, sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
  }
  
  a {
    font-family: 'Cabin Sketch', Georgia, sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
  
  h4 {
      font-family: 'Overpass Mono', Georgia, sans-serif;
      font-weight: 300;
    }
  
  p {
      font-family: 'Overpass Mono', Georgia, sans-serif;
      font-weight: 400;
      font-size: 20px;
  
    }

#zen-intro {
  font-size: 20px;
}

#zen-summary {
  
}

#zen-preamble {

}

#zen-explanation {

}

#zen-supporting {
  margin-left: 300px;
  margin-right: 75px;
  
}