/*sourcing fonts*/
@font-face {
    font-family: 'raleway_regular';
    src: url('fonts/nunito_regular.ttf') format('truetype');
  }
  
  @font-face {
  font-family: 'raleway_italic';
  src: url('fonts/nunito_italicized.ttf') format('truetype');
  }
  
  html {
    /* Colors */
    --background-color: #d3ddd3;
    --design-color: #3F5D5A;
    --text-color: #182322;
    --highlight-color: #c3d0df;
  
    /* Fonts */
    --font-aver: "aver";
    --font-OverpassMono:"OverpassMono";
  
    /* Miscellaneous */
    --rhythm: 2rem;
    font-size: 100%;
  
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  
  
  h1 {
    font-family: 'averia-serif-libre_bold', Georgia, sans-serif;
    font-size: 90px;
  }
  
  h2 {
  font-family: 'averia-serif-libre_regular', Georgia, sans-serif;
  font-size: 40px;
  }
  
  h3 {
    font-family: 'averia-serif-libre_light', Georgia, sans-serif;
    font-size: 36px;
  }
  
  a {
    font-family: 'nunito_regular', Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  h4 {
      font-family: 'nunito_regular', Georgia, sans-serif;
    }
  
  p {
      font-family: 'nunito_regular', Georgia, sans-serif;
      font-size: 20px;
  }
  
  header {
    text-align: right;
        margin-right: 2vw;
      }
      
      #zen-supporting {
        margin-right:30vw;
      }
  
  @media screen and (max-width: 834px){
    
    h1 {
      font-family: 'averia-serif-libre_bold', Georgia, sans-serif;
      font-size: 90px;
    }
    
    h2 {
    font-family: 'averia-serif-libre_regular', Georgia, sans-serif;
    font-size: 40px;
    }
    
    h3 {
      font-family: 'averia-serif-libre_light', Georgia, sans-serif;
      font-size: 36px;
    }
    
    a {
      font-family: 'nunito_regular', Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
    
    h4 {
        font-family: 'nunito_regular', Georgia, sans-serif;
      }
    
    p {
        font-family: 'nunito_regular', Georgia, sans-serif;
        font-size: 20px;
    
      } }
  
  
  .banner {
    display: flex;
    position: absolute;
    right: 100px;
  }
  
  .b {
    display: flex;
    position: absolute;
    right: 100px;
  }
  
  .preamble {
    display: flex;
  }
  
  
  @media screen and (max-width: 428px){
    #zen-supporting {
      text-align: center;
    }
  }
  
  .navigation li {
    display: flex;
    
  }